body{-webkit-print-color-adjust:exact;}
*{margin: 0 auto; padding: 0;}
.page-order{overflow: hidden; margin: 0 auto; width: 396px; border: 2px solid #000;}
.page-order .page{ position: relative;}
.page-order .page .header{margin-top: 1px;}
.page-order .page .header img{width: 99.5%; display: block; text-align: center;}
.page-order .page .header_2{width: 99.5%;  background-color: #fff; overflow: hidden; font-size: 16x; line-height: 30px; }
.page-order .page .header_2 .left{ padding: 8px;}
.page-order .page .header_2 .left .top{line-height: 17px;font-size: 15px;}
.page-order .page .header_2 .left .top .id-cus{overflow: hidden; height: 22px;}
.page-order .page .header_2 .left .address{text-align: justify;font-size: 16px;}
.page-order .page .header_2 .left .bottom{}
.page-order .page .header_2 .left .bottom .tracking{width: 369px;height:38px; float: left; word-wrap: break-word; text-align: justify; overflow: hidden; font-size: 16px; line-height: 18px;}
.text{width: 369px; height: 40px; float: left; word-wrap: break-word; text-align: justify; overflow: hidden; margin-top: 3px;font-size: 16px;line-height: 20px;}
.page-order .page .header_2 .right{float: left; width: 165px;}
.page-order .page .header_2 .right .chart{width: 80px;height: 80px;margin-top: 8px;}
.page-order .page .header_2 .right .barcode{ margin-top: 7px;}
.page-order .page .header_3{bottom: 20px; left: 0px; color: #fff; height: 19px; font-size: 16px; font-weight: bold; text-align: center; width: 100%; margin-top: 1px; background: #000; line-height: 15px;}